@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form method="post">
        <div class="form-group">
            <label asp-for="Lataprzestepne.Rok"></label>
            <input asp-for="Lataprzestepne.Rok" class="form-control"><br />
        </div>
        <div><span style="font-weight: bold !important" asp-validation-for="Lataprzestepne.Rok" class="text-danger"></span></div>
        <div class="form-group">
            <label asp-for="Lataprzestepne.Imie"></label>
            <input asp-for="Lataprzestepne.Imie" class="form-control"><br />
        </div>
        <div><span style="font-weight: bold" asp-validation-for="Lataprzestepne.Nazwisko" class="text-danger"></span></div>
         <div class="form-group">
            <label asp-for="Lataprzestepne.Nazwisko"></label>
            <input asp-for="Lataprzestepne.Nazwisko" class="form-control"><br />
        </div>
        <div><span style="font-weight: bold" asp-validation-for="Lataprzestepne.Nazwisko" class="text-danger"></span></div>
        <button type="submit" class="btn btn-primary">Zatwierdż</button>
    </form>
</div>
